@import './base.css';

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
    min-height: 100vh;
    padding: 2rem;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  .nodes-container {
    background-color: #2d2d2d;
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  .filter-container {
    display: flex;
    margin-bottom: 1rem;
  }
  
  input {
    flex-grow: 1;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4b4b4b;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 11px;
    background-color: #3b3b3b;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
    overflow-y: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
  }
  
  td {
    border: 1px solid #555;
    padding: 0.5rem;
  }
  

  .status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  td.status-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .status-circle.ok {
    background-color: green;
    animation: blinker 1s linear infinite;
  }

  .status-circle.error {
    background-color: red;
    animation: blinker 1s linear infinite;
  }

  .status-circle.checking {
    background-color: yellow;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }
  